md-content.md-whiteframe-z4
  form(ng-submit="top.search()")
    md-list
      md-list-item(layout="rows")
          md-input-container(flex="80")
            label 検索キーワードを入力して下さい
            input(ng-model="$storage.words")
          aside(flex)
            p {{top.items.length}} 件

    .item(ng-repeat="item in top.items")
      div
        md-divider(ng-show="$index>0")
        md-list-item.md-3-line
          h4.md-avatar {{$index+1}}
          .md-list-item-text(md-ink-ripple)
            h2: a(ng-href="{{item.url}}") {{item.url}}
            p {{item.title}}
            p {{item.body}}
